body {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,56,148,1) 40%, rgba(1,96,182,1) 59%, rgba(0,176,255,1) 100%);
}

.headerr {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.headerr img {
  margin: 5px 0;
}

.lista {
  display: flex;
  gap: 22px;
  
}

 .lista li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-family: 'Nunito Sans', sans-serif;;;
}

.btn {
  display: flex;
  align-items: center;
}

.cont {
    padding: 260px 0 60px 0;
    background: url(../img/bg-intro.jpg) no-repeat center center;
    background-size: cover;
    
}

.cont h1 {
  font-size: 60px;
  color: white;
  font-family: 'Alice', serif;
  text-shadow: 0.1em 0.1em 0.2em #333
}

.cont input {
font-size: 18px;
padding: 16px 10px 17px 10px;
border-radius: 5px 0 0 5px;
box-shadow: 0px 5px 3px rgb(23 34 45 / 40%);
}

.cont label {
  border-radius: 0 5px 5px 0;
  color: white;
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
  background: #EE2211;
  cursor: pointer;
  padding: 15px;
  box-shadow:0px 5px 3px rgb(23 34 45 / 40%);
}

.header2 {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  gap: 90px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.img{
  text-align: center;
}

.img img{
  box-shadow:0px 10px 10px rgb(187 204 221 / 20%), 0px 5px 5px rgb(187 204 221 / 30%);
  z-index: 1;

}

.img .img-map {
    margin-top: -65px;
    z-index: 2;

}

.desc-maps {
  padding-top: 20px;
  
}

.desc-maps h4 {
  padding: 3px 0;
}

.desc-maps li {
  font-size: 14px;
  padding: 1px 0;
  color: #BBCCDD;
  font-family: 'Nunito', sans-serif;
}

.desc h1 {
font-size: 72px;
padding-bottom: 30px;
}

.itens {
  border-top: 2px solid #EFF4F9;
}

.desc li {
  font-size: 21px;
  font-family:'Nunito Sans', sans-serif; ;
  border-bottom: 2px solid #EFF4F9;
  padding: 30px;
  display: flex;
  align-items: center;
}

.desc li img {
  padding-right: 20px;
}

.desc p {
  padding-top: 30px;
  font-size: 18px;
  font-family:'Nunito Sans', sans-serif;;
  line-height: 1.2;
}

.cont-aula {
  background: #EFF4F9;
}

.imagem {
 text-align: center;
z-index: 2;
}

.imagem img {
  margin-top: -30px;
}

.title {
  padding: 20px 0 40px 0;
}

.title h1 {
  
  text-align: center;
  font-size: 72px;
  font-family: 'Alice', serif;
  color: #445566;
  font-weight: normal;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.min-card {
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgb(187 204 221 / 40%), 0px 5px 5px rgb(187 204 221 / 40%);
  padding: 0 88px;
  background: white;
  max-width: 190px;
  margin: 0 10px;
}

.min-card h3 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 20px ;
  font-family:  'Nunito Sans', sans-serif;
  font-weight: bold;
}

.min-card p {
  font-size: 14px;
  font-family:'Nunito Sans', sans-serif;
  line-height: 1.6;

  }

.min-img{
  text-align: center;
  margin-top: -25px;
}

.min-desc {
  padding: 20px 0;
  border-top: 2px solid #EFF4F9; 
  border-bottom: 2px solid #EFF4F9; 
}

.preco{
  color: #1188EE;
  padding: 10px 0;
  font-weight: bold;
}

.button button{
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
 color: white;
 background: #445566;
 padding: 10px 10px; 
 border-radius: 5px;
 margin-bottom: 30px;
 cursor: pointer;

}

.p {
  font-size: 18px;
  padding: 40px 0;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

.img-fundo {
  text-align: center;
  background-image: url(./img/bg_quote.jpg);
  background-size: cover;
  padding: 150px 0;
  font-size: 40px;
  color: white;

}

.img-fundo p {
  font-size: 20px;
}

.contato {
  padding: 20px 0;
  text-align: center;
  font-size: 72px;
  font-family: 'Alice', serif;
  color: #445566;
  font-weight: normal;
}

.head {
  width: 90%;
  margin: 0 auto;
  display: flex;
  
  align-items: initial;
  gap: 200px;
}

.form label {
  font-size: 18px;
}

.form input {
  font-family: 'Nunito', sans-serif;
    font-size: 1.125em;
    color: #17222D;
    margin-bottom: 5px;
    background: #EFF4F9;
    box-shadow: 0px 2px 2px rgb(187 204 221 / 40%);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    max-width: 470px;
    width: 400px;
    
}

.form textarea {
  box-shadow:  0px 2px 2px rgb(187 204 221 / 40%);
  border-radius: 5px;
  background:  #EFF4F9;
}

.form button {
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
 color: white;
 background: #445566;
 padding: 10px 10px; 
 border-radius: 5px;
 margin-bottom: 30px;
 cursor: pointer;
}

.min-form {
  margin: 20px 0;
  display: grid;
}

.form2 {
width: 25%;
}

.form2 div {
  padding: 20px 0;
}

.form2 h3 {
  
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
  color: #445566;
}

.form2 ul li{
font-size: 16px;
line-height: 1.4em;
}


.span {
  
  border-top: 2px solid #EFF4F9; 
  border-bottom: 2px solid #EFF4F9; 
}

footer {
  background:rgba(2,0,36,1) ;
  margin: 0 auto;
  width: 100%;
}

footer div {
  margin: 0 auto;
  width: 90%;
  padding: 30px 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: 22px;
}